{% extends 'base.html' %}


{% block title %}
About
{% endblock %}

{% block content %}

<div class="about-bg-img">
    <div class="about-section">
        <h1 class="text-black text-center p-3">About ABC Hospital</h1>
        <p class="lead text-center">Providing Quality Healthcare Services</p>
        <hr>
        <h5 class="p-5">ABC Hospital is a leading healthcare institution committed to delivering exceptional medical services to our community. With a focus on patient well-being and cutting-edge medical practices, we strive to be a beacon of health and healing.Our hospital is equipped with state-of-the-art facilities and staffed by a dedicated team of healthcare professionals. We prioritize patient care, comfort, and recovery, ensuring that every individual receives personalized attention.</p>
    </div>
</div>
{% endblock %}




