{% extends 'base.html' %}


{% block title %}
Booking
{% endblock %}

{% block content %}
<div class="booking-img p-3">
<h4 class="text-center text-info">Make an Appointment</h4>
<hr>
<div class="container col-md-4 text-center bg-light d-flex flex-column  pt-5 pb-5border border-warning rounded ">
    <form action="" class="form" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <br>
        <button type="submit mb-4" class="btn-primary">Submit</button>
    </form>
</div>
</div>
{% endblock %}



